@import url(https://fonts.googleapis.com/css?family=Playpen+Sans+Thai);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Jua);

body{
    align-items: center;
    background-color: #FEE2AD;
    color: #42281b;
    font-family: 'Jua', sans-serif;
background-image: url('https://raw.githubusercontent.com/jrsibal2029/Q3SA-Angpao-Sapasap-Sibal/refs/heads/main/bg2.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
   
}

.btn-secondary{
    background-color: #FEE2AD;
}

.header{
    background-color: #faedb4;
    font-weight: 900;
    padding-top: 10px;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.btn-primary{
    background-color: rgba(206, 232, 255, 0.747);
    outline: none !important;
    color: black;
}

.intro{
    position: fixed;
  z-index: 9998;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #87b8f0;
  padding-top: 370px;
  width: 100%;
  height: 100vh;
  
}
.intro h1
{
    font-size: 100px;
}
.intro .btn{
    font-size: 25px;
}
.overlay {
  position: fixed;
  z-index: 9999;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5282b8;
  padding: 100px;
  border-radius: 20px;
}

img{
    width: 125px;
    height: 125px;
}
